* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(217, 100%, 97%);
    font-family: $font-primary;
}
h1 {
    color: $color-marine-blue;
    font-size: 40px;
}
p {
    color: $color-cool-gray;
}
button {
    background-color: $color-marine-blue;
    color: $color-alabaster;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 3px;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.steps__container {
    background-color: white;
    padding:30px 20px;
    margin: 20px;
    position: relative;
    top: -90px;
    border-radius: 8px;
    
    h1 {
        font-size: 35px;
    }
    p {
        font-size: 18px;
        margin: 15px 0;
    }
}

.steps__actions {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px ;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    .btn__goBack {
        background: transparent;
        color: $color-cool-gray;
        font-weight: 700;
    }
    .btn__goBack:hover {
        color: $color-purplish-blue;
    }
}

footer {
    text-align: center;
    margin-top: 30px;
    a {
        color: $color-marine-blue;
        font-weight: 700;
    }
    a:hover {
        text-decoration: underline;
    }
}

.error__div {
    text-align: center;
    margin: 100px 0;

    button {
        margin-top: 20px;
    }
}
@media screen and (min-width:1201px) {
    body {
            height: 100vh;
            padding: 70px;
        }
    .container {
        display: flex;
        background-color: white;
        max-width: 900px;
        margin: 0 auto;
        border-radius: 10px;
        height: 600px;
    }
        .steps__container {
            background-color: white;
            padding: 30px 50px;
            margin: 0;
            position:static;
            border-radius: none;
            
            h1 {
                font-size: 35px;
            }
    
            p {
                font-size: 18px;
                margin: 15px 0;
            }
        }
        .steps__actions {
            background-color: white;
            display: flex;
            justify-content: space-between;
            padding: 0;
            position: static;
        }
}